# gitignore할 파일들 
# iml : intelli J IDEA Module의 약자, Module 구성에 대해 xml형태로 기술해놓은파일
# idea : intellij의 IDE옵션(프로젝트별 설정값)을 저장하는 폴더
# 각 옵션은 작업자의 컴퓨터 환경에 맞춰서 변경됨
# 따라서 다른 작업자가 소스를 받을 때 영향을 주지 않기 위해 .gitignore에 추가

*.iml
*.idea
out/
